@page "/admin/settings/settingsList"
@inject NavigationManager _navigationManager

<div class="container">
    <Breadcrumb Title="@Title"></Breadcrumb>

    <div class="row">
        <div class="col-sm-3">

            <RadzenCard>
                <h3>Ustawienia email</h3>
                <RadzenButton Text="Przejdź" Click="@EmailSetting" ButtonStyle="ButtonStyle.Info" Style="margin-bottom: 20px;" />
            </RadzenCard>
        </div>

    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; } = "Lista ustawień";

    async Task EmailSetting ()
        {
        _navigationManager.NavigateTo("/admin/settings/emailSetting");
        }
}

