@inject NavigationManager _navigationManager
<RadzenCard>
    <h4>Dane kontaktowe</h4>

    @if (UnionInstitutionContact != null)
    {

        <p><span class="text-primary"><RadzenIcon Icon="phone" /></span> @UnionInstitutionContact.Phone</p>

        <p><span class="text-primary"><RadzenIcon Icon="email" /></span> @UnionInstitutionContact.Email</p>

        <div class="col-sm-6 mt-3">
            <RadzenButton Text="Edytuj" Click="@(args => EditContact(UnionInstitutionContact.Id))" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    }
    else
    {
        <div class="col-sm-6 mt-3">
            <RadzenButton Text="Dodaj" Click="@(args => AddContact(UnionInstitution.Id))" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    }

</RadzenCard>

@code {

    [Parameter]
    public UnionInstitution UnionInstitution { get; set; }

    [Parameter]
    public UnionInstitutionContact UnionInstitutionContact { get; set; }


    async Task AddContact(int Id)
    {
        _navigationManager.NavigateTo($"/user/unionInstitutions/branchPages/fires/fireContactUpsert/contactCreate/{UnionInstitution.Id}");
    }

    async Task EditContact(int Id)
    {
        _navigationManager.NavigateTo($"/user/unionInstitutions/branchPages/fires/fireContactUpsert/contactEdit/{UnionInstitutionContact.Id}");
    }

}



